.nav_links_font_size {
    display: flex;
    flex-direction: row;
    color: #FFD400 !important;
    font-size: 18px;
    background-color: none !important;
}

.outlet_container {
    margin-top: -80px;
    width: 100%;
}

.navbar_color {
    background-color: #000000c7;
}

.nvbar_non_color {
    background-color: transparent;
    border: none;
}
.lang_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lang_icon{
    margin-right: 5px;
}

.footer {
    display: flex;
    width: 100%;
    height: 300px;
    flex-direction: column;
    background-color: #f3f3f3;
    justify-content: center;
    align-items: center;
}

.footer_container {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 72%;
    justify-content: space-around;
    align-items: center;
    margin-left: -145px;
}

.categories ul li {
    list-style: none;
    align-items: center;
}

.categories ul {
    display: contents;
}

.social_pages {
    margin-top: -62px;
}

.by_PADC p {
    font-size: 14px;
    color: #716d6dc9;
}

.social_page_links {
    display: flex;
    justify-content: space-between;
}

.menu_container {
    z-index: 99999;
}

.menu {
    display: flex;
    align-items: center;
    margin-top: -4px;
    width: 100%;
    height: 90px;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    margin-top: 80px;
}

.link_container {
    display: flex;
    width: 90%;
    align-items: center;
}
.logo{
    display: flex;
    width: 200px;
}
.menu_item_container{
    display: flex;
    margin-left: 70px;
    width: 60%;
}