.about_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.left_side {
    display: flex;
    width: 50%;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right_side {
    padding-top: 155px;
    width: 50%;
}

.first_Text {
    display: flex;
    max-width: 500px;
    font-size: 18px;
    margin-top: 50px;
    color: #80808E; 
}
.text_name{
    width: 100%;
}

.pictures{
    width: 600px;
}

@media screen and (max-width: 1250px) {
    .text_name{
        width: 230px;
    }
    .first_Text {
        font-size: 16px;
    }
}