.about_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.left_side {
    display: flex;
    width: 50%;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right_side {
    padding-top: 155px;
    width: 50%;
}

.first_Text {
    display: flex;
    max-width: 500px;
    font-size: 18px;
    margin-top: 90px;
    color: #80808E;
    
}